.container {
  width: min(100%, 700px);
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 1.75;
}

.header {
  font-size: 25px;
  font-weight: 700;
}

.mt {
  margin-top: 15px;
}

.mt2 {
  margin-top: 35px;
}

.bold {
  font-size: 600;
}

.content {
  line-height: 1.75;
}

.inlineCode {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  color: #c7254e;
  border: 1px solid #e1e1e1;
  font-weight: 600;
}

.image {
  margin-top: 30px;
  margin-bottom: 50px;
  aspect-ratio: 1.5;
}
