.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  position: relative;
  background-color: #20203e;
  border-radius: 8px;
  border: 1.5px solid transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 22px 15px;
  overflow: hidden;
  width: min(100%, 400px);
  background-image: url("./assets/grid.png");
  background-repeat: no-repeat;
  background-position: right -5px bottom -5px;
  background-size: 160px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.card:hover {
  border: 1.5px solid #c82c7d;
  scale: 1.01;
}

.title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.subtitle {
  color: #b1b5c9;
  font-size: 0.8rem;
  margin-top: 10px;
  width: 200px;
}

.instruction {
  font-size: 0.9rem;
  margin-top: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.instruction:hover {
  color: #c82c7d;
}

.instruction-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
